@model Tuple<List<Event>, List<Organisation>, int>



@{
    ViewData["Title"] = "Manage Events";
}

@* <h2 class="text-fontix-purple fw-bold text-center small">organisation</h2> *@
<div class="d-flex justify-content-center" style="padding-right: 13px;">
    @using (Html.BeginForm("Manage", "EventsAdmin", null, FormMethod.Post))
    {
        <!-- OrganisationId input -->
        <div class="select-wrapper my-auto">
            <select class="select select-small" name="Id" onchange="this.form.submit()">
                @foreach (var item in Model.Item2)
                {
                    <option value="@item.Id" selected="@(Model.Item3 == item.Id)">@item.Name</option>
                }
            </select>
        </div>
    }

</div>
<h1 class="text-fontix-blue fw-bold text-center">events</h1>
<div class="d-flex">


    <div class="align-self-center ms-auto justify-self-end">
        <button type="button" class="btn btn-secondary" data-mdb-toggle="modal" data-mdb-target="#addModal">
            <span>
                <strong>Add new</strong>
            </span>
            &nbsp;
            <i class="fas fa-plus"></i>
        </button>

        <!-- ADD MODAL -->
        @using (Html.BeginForm("Create", "EventsAdmin", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="modal fade" id="addModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add Event</h5>
                            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body text-start">
                            <!-- OrganisationId input -->
                            <div class="select-wrapper mb-4">
                                <select class="select" name="OrganisationId">
                                    @foreach (var item in Model.Item2)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                                <label>Organisation</label>
                            </div>

                            <!-- Name input -->
                            <div class="form-outline mb-4">
                                <input type="text" name="Name" class="form-control"/>
                                <label class="form-label">Name</label>
                            </div>

                            <!-- Venue input -->
                            <div class="form-outline mb-4">
                                <input type="text" name="Venue" class="form-control"/>
                                <label class="form-label">Venue</label>
                            </div>

                            <!-- Description input -->
                            <div class="form-outline mb-4">
                                <input type="text" name="Description" class="form-control"/>
                                <label class="form-label">Description</label>
                            </div>

                            <!-- DateTime View input -->
                            <div class="form-outline mb-4">
                                <input type="datetime-local" name="DateTimeView" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm")"/>
                                <label class="form-label">DateTime View</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<table class="table text-fontix-blue align-middle table-alternate-fontix-blue-light">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Item1[0].DateTimeView)
        </th>
        <th class="d-none d-md-table-cell fw-bold text-fontix-blue">
            @Html.DisplayNameFor(model => model.Item1[0].Name)
        </th>
        <th class="text-end pe-5">
            Acties
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Item1)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeView)
            </td>
            <td class="d-none d-md-table-cell fw-bold text-fontix-blue">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="text-end">
                <div class="d-flex align-items-center justify-content-end">
                    @if (1 == 1)
                    {
                        <a type="button" class="btn btn-outline-primary px-2 py-1 ms-2" href="@Url.RouteUrl(new { action = "Details", controller = "EventsAdmin", id = item.Id })">
                            <span class="d-none d-md-inline">Details&nbsp;</span>
                            <i class="fas fa-bars"></i>
                        </a>

                        <button type="button" class="btn btn-outline-danger px-2 py-1 ms-1" data-mdb-toggle="modal" data-mdb-target="#confirmDelectionModal-@item.Id">
                            <i class="fas fa-trash-can"></i>
                        </button>

                        /* DELETE MODAL */
                        @using (Html.BeginForm("Delete", "EventsAdmin", new { id = item.Id }, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            <!-- Modal -->
                            <div class="modal fade" id="confirmDelectionModal-@item.Id" tabindex="-1" aria-labelledby="confirmDelectionModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="confirmDelectionModalLabel">Confirm deletion</h5>
                                            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body text-start">
                                            Are you sure you want to delete event <b>@item.Name</b>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </td>
        </tr>
    }
    </tbody>

</table>