@model List<Organisation>
@{
    ViewData["Title"] = "Managing Organisations";
}

<h2 class="text-fontix-purple fw-bold text-center small">organisation</h2>
<h1 class="text-fontix-blue fw-bold text-center">my organisations</h1>
<div class="d-flex">
    <div class="align-self-center ms-auto justify-self-end">

        <button type="button" class="btn btn-secondary" data-mdb-toggle="modal" data-mdb-target="#addModal">
            <span>
                <strong>Add new</strong>
            </span>
            &nbsp;
            <i class="fas fa-plus"></i>
        </button>

        <!-- ADD MODAL -->
        @using (Html.BeginForm("Create", "Organisations", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="modal fade" id="addModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add Organisation</h5>
                            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body text-start">
                            <!-- Name input -->
                            <div class="form-outline mb-4">
                                <input type="text" name="Name" class="form-control"/>
                                <label class="form-label">Name</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<table class="table text-fontix-blue align-middle table-alternate-fontix-blue-light">
    <thead>
    <tr>
        <th class="d-none d-md-table-cell fw-bold text-fontix-blue">
            @Html.DisplayNameFor(model => model[0].Name)
        </th>
        <th class="text-end pe-5">
            Acties
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td class="d-none d-md-table-cell fw-bold text-fontix-blue">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="text-end">
                <div class="d-flex align-items-center justify-content-end">
                    @if (1 == 1)
                    {
                        @using (Html.BeginForm("ManageEvents", "Events", FormMethod.Post))
                        {
                            @Html.Hidden("id", item.Id)
                            <button type="submit" class="btn btn-outline-primary px-2 py-1 ms-2">
                                <span class="d-none d-md-inline">Events&nbsp;</span>
                                <i class="far fa-calendar-days"></i>
                            </button>
                        }

                        <button type="button" class="btn btn-outline-primary px-2 py-1 ms-1" data-mdb-toggle="modal" data-mdb-target="#editOrganisationModal-@item.Id">
                            <i class="fas fa-pencil"></i>
                        </button>
                        <button type="button" class="btn btn-outline-danger px-2 py-1 ms-1" data-mdb-toggle="modal" data-mdb-target="#confirmDeletionModal-@item.Id">
                            <i class="fas fa-trash-can"></i>
                        </button>

                        <!-- EDIT EVENT MODAL -->
                        @using (Html.BeginForm("Edit", "Organisations", new { id = item.Id }, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="modal fade" id="editOrganisationModal-@item.Id" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Edit Organisation</h5>
                                            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                                        </div>

                                        <div class="modal-body text-start">
                                            <!-- Name input -->
                                            <div class="form-outline mb-4">
                                                <input type="text" name="Name" class="form-control" value="@item.Name"/>
                                                <label class="form-label">Name</label>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Edit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        /* DELETE MODAL */
                        @using (Html.BeginForm("Delete", "Organisations", new { id = item.Id }, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            <!-- Modal -->
                            <div class="modal fade" id="confirmDeletionModal-@item.Id" tabindex="-1" aria-labelledby="confirmDeletionModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="confirmDeletionModalLabel">Confirm deletion</h5>
                                            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body text-start">
                                            Are you sure you want to delete the organisation <b>@item.Name</b>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </td>
        </tr>
    }
    </tbody>

</table>