@model Fontix.UI.Models.Event;

@{
    ViewData["Title"] = Model.Name;
}

<div class="d-flex">
    <h1>@Model.Name</h1>
    <div class="align-self-center ms-auto justify-self-end">

        <button type="button" class="btn btn-secondary" data-mdb-toggle="modal" data-mdb-target="#addModal">
            <span>
                <strong>Edit Event</strong>
            </span>
            &nbsp;
            <i class="fas fa-pencil"></i>
        </button>

        <!-- EDIT EVENT MODAL -->
        @using (Html.BeginForm("Edit", "Events", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="modal fade" id="addModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Edit Event</h5>
                            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body text-start">
                            <!-- Name input -->
                            <div class="form-outline mb-4">
                                <input type="text" name="Name" class="form-control" value="@Model.Name"/>
                                <label class="form-label">Name</label>
                            </div>

                            <!-- Description input -->
                            <div class="form-outline mb-4">
                                <input type="text" name="Description" class="form-control" value="@Model.Description"/>
                                <label class="form-label">Description</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<p class="my-3">@Model.Description</p>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tickets[0].Name)
        </th>
        <th class="d-none d-md-table-cell">
            @Html.DisplayNameFor(model => model.Tickets[0].Price)
        </th>
        <th class="text-end pe-5">
            Acties
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Tickets)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="d-none d-md-table-cell">
                &euro;&nbsp;@Html.DisplayFor(modelItem => item.Price)
            </td>
            <td class="text-end">
                <div class="d-flex align-items-center justify-content-end">
                    @if (1 == 1)
                    {
                        <button type="button" class="btn btn-outline-primary px-2 py-1 ms-2" data-mdb-toggle="modal" data-mdb-target="#editTicketModal-@item.Id">
                            <span class="d-none d-md-inline">Edit&nbsp;</span>
                            <i class="fas fa-pencil"></i>
                        </button>

                        <button type="button" class="btn btn-outline-danger px-2 py-1 ms-1" data-mdb-toggle="modal" data-mdb-target="#confirmDelectionModal-@item.Id">
                            <i class="fas fa-trash-can"></i>
                        </button>

                        <!-- EDIT MODAL -->
                        @using (Html.BeginForm("Edit", "Tickets", new { id = item.Id, eventId = Model.Id }, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="modal fade" id="editTicketModal-@item.Id" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Make changes</h5>
                                            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                                        </div>

                                        <div class="modal-body text-start">

                                            <!-- Name input -->
                                            <div class="form-outline mb-4">
                                                <input type="text" name="Name" class="form-control" value="@item.Name"/>
                                                <label class="form-label">Name</label>
                                            </div>

                                            <!-- Price input -->
                                            <div class="form-outline mb-4">
                                                <input type="text" name="Price" class="form-control" value="@item.Price"/>
                                                <label class="form-label">Price</label>
                                            </div>

                                            <!-- DateTime Start input -->
                                            <div class="form-outline mb-4">
                                                <input type="text" name="DateTimeStart" class="form-control" value="@item.DateTimeStart"/>
                                                <label class="form-label">DateTime Start</label>
                                            </div>

                                            <!-- DateTime End input -->
                                            <div class="form-outline mb-4">
                                                <input type="text" name="DateTimeEnd" class="form-control" value="@item.DateTimeEnd"/>
                                                <label class="form-label">DateTime End</label>
                                            </div>

                                            <!-- DateTime View input -->
                                            <div class="form-outline mb-4">
                                                <input type="text" name="DateTimeView" class="form-control" value="@item.DateTimeView"/>
                                                <label class="form-label">DateTime View</label>
                                            </div>

                                            <!-- DateTime Amount input -->
                                            <div class="form-outline mb-4">
                                                <input type="number" name="Amount" class="form-control" value="@item.Amount"/>
                                                <label class="form-label">Amount</label>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Update</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        /* DELETE MODAL */
                        @using (Html.BeginForm("Delete", "Tickets", new { id = item.Id }, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            <!-- Modal -->
                            <div class="modal fade" id="confirmDelectionModal-@item.Id" tabindex="-1" aria-labelledby="confirmDelectionModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="confirmDelectionModalLabel">Confirm deletion</h5>
                                            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body text-start">
                                            Are you sure you want to delete ticket <b>@item.Name</b>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </td>
        </tr>
    }
    </tbody>

</table>